@font-face {
  font-family: "iconfont"; /* Project id 1199363 */
  src: url('iconfont.woff2?t=1698206349204') format('woff2'),
       url('iconfont.woff?t=1698206349204') format('woff'),
       url('iconfont.ttf?t=1698206349204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-icon-dingdan:before {
  content: "\e600";
}

.h-icon-bianji:before {
  content: "\e621";
}

.h-icon-zhuanru:before {
  content: "\e61b";
}

.h-icon-dayudengyu:before {
  content: "\ec96";
}

.h-icon-xiaoyudengyu:before {
  content: "\ec97";
}

.h-icon-xiaoxi:before {
  content: "\e690";
}

.h-icon-xitongguanli:before {
  content: "\e688";
}

.h-icon-zichantongji:before {
  content: "\e689";
}

.h-icon-gonggaoliebiao:before {
  content: "\e68a";
}

.h-icon-dizhiguanli:before {
  content: "\e68b";
}

.h-icon-shujutongji:before {
  content: "\e68c";
}

.h-icon-Ozbet:before {
  content: "\e68d";
}

.h-icon-yonghuguanli:before {
  content: "\e68e";
}

.h-icon-gerenziliao:before {
  content: "\e68f";
}

